.col-md-12 {
  text-align: center;
}

.col-md-6 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: black !important;
  border-color: white;
}

.btn:hover {
  background-color: darkslategray !important;
  border-color: darkslategray !important;
}

h1 {
  margin: 10px;
}

.btn-secondary {
  position: absolute;
  margin-top: 10px;
  margin-left: 20px;
  left: 0;
  width: 120px;
  transform: translateY(-50%);
}